@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
body {
  background: white;
  overflow: overlay;
}
.scrollbar::-webkit-scrollbar {
  width: 1rem;
}

.scrollbar::-webkit-scrollbar-track {
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #a35709;
}
@media only screen and (max-width: 600px) {
  * {
    font-size: 6.25px;
  }
}
